

.float-child.nav {
    margin-left: 0px;
    margin-right: -40px;
    background-color: rgba(148, 156, 161, 0.466);
    border: 2px solid rgb(126, 126, 129);
    display:inline;
}

.float-child.com {
    margin-left: -60px;
    
    display:inline;
}

