

<div class="col-md-3 col-lg-12 ">
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">BESIX</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand bg-light col-md-6 col-lg-8 me-0 px-10" ><div style="text-align:center">The Projects App</div></a>
    <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3"></div>
  </header>
</div>


